# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# .env files
# ..env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# flutter/dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Pods/
/android/.gradle/
/android/captures/
/android/gradle/wrapper/gradle-wrapper.jar
/android/key.properties
/android/local.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
/macos/Flutter/ephemeral/
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/
/web/.dart_tool/
/web/build/
*.iml
**/DerivedData/
**/.idea/
**/.vscode/
